[user]
	name = Alexandre Rangel
	email = mamutal91@gmail.com

[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true
	line-numbers = true
	side-by-side = false
	syntax-theme = Catppuccin Mocha

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default
