[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "? Arch Linux DotFiles - Managed by GNU stow "
[access "refs/*"]
	owner = group user/mamutal91
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mamutal91
	label-Verified = -1..+1 group user/mamutal91
	push = group user/mamutal91
	read = group user/mamutal91
	rebase = group user/mamutal91
	removeReviewer = group user/mamutal91
	submit = group user/mamutal91
[access "refs/heads/*"]
	create = group user/mamutal91
	push = +force group user/mamutal91
	pushMerge = group user/mamutal91
	read = group user/mamutal91
[access "refs/tags/*"]
	push = group user/mamutal91
	push = +force group user/mamutal91
