!You may want to run $ xrdb -merge ~/.Xresources with each update

!Xft settings:

Xft*dpi:                96
Xft*hinting:            true
! hintstyle 3 for flat-panel displays 
Xft*hintstyle:          2
Xft*antialias:          true
! uncomment/adjust for flat-panel display
Xft*rgba:              rgb


! URxvt settings

URxvt*font:              -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt*boldFont:          -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt*loginShell:        true
URxvt*scrollBar:         false 
!URxvt*scrollstyle:      plain 
!URxvt*scrollBar_right:  true
URxvt*termName:          rxvt
URxvt.buffered:          true
URxvt.perl-ext:          default,matcher
URxvt.urlLauncher:       /usr/bin/firefox
URxvt.matcher.button:    1 
URxvt.transparent:       True
URxvt.shading:           25
URxvt*background:        #2b2b2b
URxvt*foreground:        #4db41e
URxvt*cursorColor:       #aaaaaa
URxvt*colorUL:           #366060
URxvt*underlineColor:    #dfaf8f
URxvt*color0:            #2b2b2b
URxvt*color1:            #cc9393
URxvt*color2:            #7f9f7f
URxvt*color3:            #d0bf8f
URxvt*color4:            #6ca0a3
URxvt*color5:            #dc8cc3
URxvt*color6:            #93e0e3
URxvt*color7:            #dcdccc
URxvt*color8:            #000000
URxvt*color9:            #dca3a3
URxvt*color10:           #bfebbf
URxvt*color11:           #f0dfaf
URxvt*color12:           #8cd0d3
URxvt*color13:           #dc8cc3
URxvt*color14:           #93e0e3
URxvt*color15:           #ffffff