!You may want to run $ xrdb -merge ~/.Xresources with each update

!Xft settings:

Xft*dpi:                96
Xft*hinting:            true
! hintstyle 3 for flat-panel displays 
Xft*hintstyle:          2
Xft*antialias:          true
! uncomment/adjust for flat-panel display
Xft*rgba:              rgb


! URxvt settings

URxvt*font:              -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt*boldFont:          -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt*loginShell:        true
URxvt*scrollBar:         false 
!URxvt*scrollstyle:      plain 
!URxvt*scrollBar_right:  true
URxvt*termName:          rxvt
URxvt.buffered:          true
URxvt.perl-ext:          default,matcher
URxvt.urlLauncher:       /usr/bin/firefox
URxvt.matcher.button:    1 
URxvt.transparent:       True
URxvt.shading:           25
URxvt*cursorColor:       #aaaaaa
URxvt*colorUL:           #366060
URxvt*underlineColor:    #dfaf8f