## Sample initialization file for GNU nano.
##
## This file should not be in DOS or Mac format, and characters
## specially interpreted by the shell should not be escaped here.
##
## To make sure an option is disabled, use "unset <option>".
##
## For the options that take parameters, the default value is given.
## Other options are unset by default.
##
## Inside string parameters, quotes should not be escaped.  The last
## double quote on the line will be seen as the closing quote.

set afterends
set breaklonglines
set casesensitive
set constantshow
set linenumbers
set mouse
set nonewlines
set showcursor
set smarthome
set softwrap
set trimblanks

## Paint the interface elements of nano.  These are examples;
## by default there are no colors, except for errorcolor.
set titlecolor brightwhite,blue
set statuscolor brightwhite,blue
set errorcolor brightwhite,red
set selectedcolor brightwhite,magenta
set stripecolor ,blue
set numbercolor cyan
set keycolor cyan
set functioncolor green
## In root's .nanorc you might want to use:
set titlecolor brightwhite,blue
set statuscolor brightwhite,green
set errorcolor brightwhite,red
set selectedcolor brightwhite,magenta
set stripecolor ,blue
set numbercolor cyan
set keycolor cyan
set functioncolor green
include "/usr/share/nano/*.nanorc"
