
! URXVT GENERAL CONFIG
!------------------------------------------------
URxvt.geometry: 101x20
URxvt.imLocale: pt_BR.UTF-8

! URXVT FONTS
!------------------------------------------------
URxvt.font:xft:Monaco:bold:size=9
URxvt.boldFont:xft:Monaco:bold:size=9
URxvt.italicfont:xft:Monaco:italic:size=9
URxvt.bolditalicFont:xft:Monaco:bold:italic:size=9
URxvt*letterSpace: -1
URxvt*allow_bold: true
URxvt.depth:       32
*internalBorder:        8
*externalBorder:        8

! URXVT FONT SETTINGS
!------------------------------------------------
Xft.dpi:        97
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintsfull
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
