* {
  accent:           #d371a6;
  background:       #141c21;
  background-light: #1C252A;
  background-alt:   #00000000;
  foreground:       #93a1a1;
  green:            #5BB462;
  red:              #DE635E;
  white:            #FFFFFFFF;
  gray:             #4DD0E1FF;
  black:            #FFFFFFFF;
}
