* {
	border: none;
	font-size: 11px;
	margin-top: 2px;
	font-family: Terminus;
	font-style: normal;
	opacity: 0.9;
}
window#waybar {
	background-color: transparent;
	color: #d8dee9;
}
#workspaces, #tags {
	background-color: #2e3440;
	border-radius: 10px;
}
#workspaces button, #tags button {
  background-color: transparent;
	color: #d8dee9;
	padding-left: 10px;
	padding-right: 10px;
}
#window {
	color: #d8dee9;
	border-radius: 10px;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
window#waybar.empty {
	/* background-color: #2e3440; */
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover, #tags button:hover {
	box-shadow: inherit;
	color: #5e81ac;
}
#workspaces button.focused, #tags button.focused {
	color: #bb61fa;
}
#workspaces button.urgent {
	color:  #BF616A;
}
#tags button {
  color: #4c566a;
  font-weight: 600;
}
/* BROWSER BOOKMARKS */
#custom-github, #custom-gerrit, #custom-keep, #custom-bluetooth {
	background-color: #2e3440;
	padding-left: 6px;
	padding-right: 6px;
}
#custom-github {
	border-radius: 10px 0px 0px 10px;
	color: #ffffff;
	margin-left: 10px;
}
#custom-gerrit {
	color: #2bd96c;
}
#custom-keep {
	color: #ffd04e;
}
#custom-bluetooth {
	color: #5db2ff;
	border-radius: 0px 10px 10px 0px;
	margin-right: 6px;
	padding-right: 6px;
}
#custom-spotify {
	padding-left: 5px;
}
/* WIDGETS */
#cpu, #memory, #backlight, #network, #pulseaudio, #battery {
	background-color: #2e3440;
	padding-left: 6px;
	padding-right: 6px;
}
#pulseaudio {
	color: #b8b8b8;
	border-radius: 10px 0px 0px 10px;
}
#cpu {
	color: #b8b8b8;
}
#memory {
	color: #b8b8b8;
}
#network {
  color: #b8b8b8;
	border-radius: 0px 10px 10px 0px;
}
#pulseaudio.muted {
	border-radius: 10px 0px 0px 10px;
	color: #b8b8b8;
}
#battery {
	background-color: #2e3440;
	color: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	padding: 6px 6px 6px 6px;
	margin-left: 8px;
}

#battery.charging {
	color: #FFFFFF;
}
@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #edc519;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
label:focus {
	background-color: #2e3440;
}
#clock {
	background-color: #50fa7b;
	color: #000000;
	border-radius: 10px 10px 10px 10px;
	padding: 6px 6px 6px 6px;
	margin-left: 8px;
	margin-right: 10px;
}
