* {
	border: none;
	font-size: 11px;
	margin: 1.0px;
	font-family: Terminus;
	font-style: normal;
}
window#waybar {
	background-color: transparent;
	color: #d8dee9;
	font-size: 12px;
	opacity: 0.8;
}
#workspaces, #tags {
	background-color: #2e3440;
  margin-right: 0px;
	border-radius: 10px;
	opacity: 0.7;
}
#workspaces button, #tags button {
  background-color: transparent;
	color: #d8dee9;
}
#window {
	color: #d8dee9;
	margin: 0px;
  font-size: 10px;
	border-radius: 10px;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
window#waybar.empty {
	/* background-color: #2e3440; */
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover, #tags button:hover {
	box-shadow: inherit;
	color: #5e81ac;
}
#workspaces button.focused, #tags button.focused {
	color: #bb61fa;
}
#workspaces button.urgent {
	color:  #BF616A;
}
#tags button {
  color: #4c566a;
  font-weight: 600;
}
/* BROWSER BOOKMARKS */
#custom-github, #custom-gerrit, #custom-keep, #custom-bluetooth {
	background-color: #2e3440;
	font-size: 12px;
  margin-left: 0;
  margin-right: 0;
	padding: 0px 5px 0px 8px ;
	opacity: 0.8;
}
#custom-github {
	border-radius: 10px 0px 0px 10px;
	color: #ffffff;
}
#custom-gerrit {
	color: #2bd96c;
}
#custom-keep {
	color: #ffd04e;
}
#custom-bluetooth {
	color: #5db2ff;
	border-radius: 0px 10px 10px 0px;
	margin-right: 5px;
	padding-right: 8px;
}
/* WIDGETS */
#cpu, #custom-pacman, #memory, #backlight, #network, #pulseaudio, #battery {
  font-size: 10px;
	background-color: #2e3440;
	padding: 0px 2px 0px 10px;
	margin: 2px 0px 2px 0px;
}
#memory {
	color:#d08770;
}
#cpu {
	color:#c57078;
}
#network {
  color: #9da98d;
}
#custom-pacman {
	color: #88c0d0;
	font-weight: 600;
}
#pulseaudio {
	color: #8fbcbb;
	border-radius: 10px 0px 0px 10px;
}
#pulseaudio.muted {
	border-radius: 10px 0px 0px 10px;
	color: #4c566a;
}
#battery {
	color: #5faa6f;
	padding: 0px 10px 0px 6px;
	border-radius: 0px 10px 10px 0px;
}
#battery.charging {
	color: #5faa6f;
}
@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #edc519;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
label:focus {
	background-color: #000000;
}
#clock {
	background-color: #50fa7b;
	color: #000000;
	border-radius: 10px 10px 10px 10px;
	padding: 6px 6px 6px 6px;
	font-size: 10px;
	margin-left: 10px;
	margin-right: 2px;
	opacity: 0.8;
}
