"*":
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "2605f445-23ae-44b6-8755-527c4549679d"
  "save-workspace-Workspaces":
    mamutal91:
      panes: [
        {
          type: "pane"
          data:
            tabs: [
              "/home/mamutal91/.dotfiles/i3/.config/i3/config"
            ]
        }
      ]
      projectPaths: [
        "/home/mamutal91/.scripter"
        "/home/mamutal91/.dotfiles"
        "/home/mamutal91/GitHub/infra"
        "/home/mamutal91/GitHub/myarch"
        "/home/mamutal91/GitHub/mytokens"
        "/home/mamutal91/GitHub/shellscript-atom-snippets"
      ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
