[Unit]
Description=Reabrir apps depois da VM
Documentation=file://%h/.dotfiles/vm/reabrir-apps.sh
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.dotfiles/vm/reabrir-apps.sh

[Install]
WantedBy=graphical-session.target
