[Unit]
Description=RicePanel: painel do monitor vertical
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecCondition=%h/.dotfiles/bin/monitor.sh vertical
WorkingDirectory=%h/Apps/desktop/RicePanel
ExecStart=/usr/bin/electron --password-store=basic --ozone-platform-hint=auto .
Restart=on-failure
RestartSec=5
Environment=ELECTRON_OZONE_PLATFORM_HINT=auto

[Install]
WantedBy=graphical-session.target
